html {
    background-color: #000;
}

h1 {
    font-size: 4em;
    font-weight: normal;
    font-family: 'Orbitron', sans-serif;
    color: #FF9;
    text-align: center;
    border-bottom: 5px dotted #cff;
    margin: .75em 0 .25em
}

a {
    text-decoration: underline;
    color: #FF9;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3em;
}

a:hover {
    border-radius: 15px;
    padding: 1em 0;
    background-color: #CFF;
    color: #069;
    margin: 0;
}

nav ol {
  padding: 0;
}

.ol1 {
    list-style-type: none;
    text-align: center;
    margin: 1em 0 3em;
}


.ol1 li {
    padding: 1.15em .25em;
    border-radius: 15px;
    background-color: #059;
    display: inline-block;
    margin: 0;
}

li a {
    font-size: 1.15em;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
    color: #CFF;
}

.neil {
  color: #069;
  font-size: .75em
}

p {
    color: #FFFFEB;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1em;
}

i, em {
    color: #FF9;
    font-style: normal
}

blockquote {
    color: #9CF;
    font-size: 1em;
    font-family: 'Orbitron', sans-serif;
    padding: .75em .5em;
    text-align: center
}
.ol2 {
    list-style: disc;
    color: #FF9;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.15em;
    padding: 0 2em 2em;
}

img {
  border-radius: 50px;
}

figure {
  border: 1px dashed #035;
  border-radius: 30px;
  margin: 0;
}

figcaption {
    font-size: .75em;
    color: #9CF;
    font-family: 'Source Sans Pro', sans-serif;
    padding: .75em 2em 1em
}

dt {
    color: #FFFFEB;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25em;
    padding: .5em 1em 0;
}

dd {
    color: #FF9;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em
}

footer {
    background-color: #069;
    padding: .15em 0 5em .5em;
}

h3 {
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
    color: #CFF;
}

footer a {
  font-size: 1em;

}
